name: BATS Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Bash
        run: |
          bash --version

      - name: Install BATS
        run: |
          # Install BATS from the submodule
          sudo ./test/bats/install.sh /usr/local

      - name: Run BATS tests
        # Problem: https://github.com/actions/runner/issues/241
        # Solution: https://github.com/gfx/example-github-actions-with-tty?tab=readme-ov-file
        shell: 'script -q -e -c "bash {0}" /dev/null'
        env:
          TERM: xterm-256color
        run: |
          ./bu_run_tests.sh